In [ ]:
import pandas as pd
import numpy as np

df=pd.read_csv("AusApparalSales4thQrt2020.csv")
print(df.head)

print("\nDataset Info:")
df.info()

print("\nSummary Stats:")
display(df.describe(include='all'))


print("\nMissing Values:")
print(df.isna().sum())


print("\nValid Entries:")
print(df.notna().sum())


print("\nDuplicate rows:", df.duplicated().sum())

<bound method NDFrame.head of              Date        Time State     Group  Unit  Sales
0      1-Oct-2020     Morning    WA      Kids     8  20000
1      1-Oct-2020     Morning    WA       Men     8  20000
2      1-Oct-2020     Morning    WA     Women     4  10000
3      1-Oct-2020     Morning    WA   Seniors    15  37500
4      1-Oct-2020   Afternoon    WA      Kids     3   7500
...           ...         ...   ...       ...   ...    ...
7555  30-Dec-2020   Afternoon   TAS   Seniors    14  35000
7556  30-Dec-2020     Evening   TAS      Kids    15  37500
7557  30-Dec-2020     Evening   TAS       Men    15  37500
7558  30-Dec-2020     Evening   TAS     Women    11  27500
7559  30-Dec-2020     Evening   TAS   Seniors    13  32500

[7560 rows x 6 columns]>

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7560 entries, 0 to 7559
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    7560 non-null   object
 1   Time    7560 non-null   object
 2   State   7560 non-null   object
 3   Group   7560 non-null   object
 4   Unit    7560 non-null   int64
 5   Sales   7560 non-null   int64
dtypes: int64(2), object(4)
memory usage: 354.5+ KB

Summary Stats:

              Date      Time State  Group         Unit          Sales
count         7560      7560  7560   7560  7560.000000    7560.000000
unique          90         3     7      4          NaN            NaN
top     1-Oct-2020   Morning    WA   Kids          NaN            NaN
freq            84      2520  1080   1890          NaN            NaN
mean           NaN       NaN   NaN    NaN    18.005423   45013.558201
std            NaN       NaN   NaN    NaN    12.901403   32253.506944
min            NaN       NaN   NaN    NaN     2.000000    5000.000000
25%            NaN       NaN   NaN    NaN     8.000000   20000.000000
50%            NaN       NaN   NaN    NaN    14.000000   35000.000000
75%            NaN       NaN   NaN    NaN    26.000000   65000.000000
max            NaN       NaN   NaN    NaN    65.000000  162500.000000

Missing Values:
Date     0
Time     0
State    0
Group    0
Unit     0
Sales    0
dtype: int64

Valid Entries:
Date     7560
Time     7560
State    7560
Group    7560
Unit     7560
Sales    7560
dtype: int64

Duplicate rows: 0